<div class="container-fluid">
  <div class="card bg-secondary">
  <!-- message header -->    
    <div class="card-header align-center">
      <ul class="nav">
        <li class="nav-item">
          <p>message control panel </p>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">all message</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">delete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">edit</a>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search user" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </li>
      </ul>
      
    </div>
    <div class="row">
      <!--1st column side panel -->
      <div class="col-2">
        <nav class="nav flex-column">
          <a class="nav-link bg-dark text-info" href="#">compose</a>
          <a class="nav-link bg-dark text-info" href="#">inbox</a>
          <a class="nav-link bg-dark text-info" href="#">sent message</a>
          <a class="nav-link bg-dark text-info" href="#">draft</a>
        </nav>
      </div>
      <!-- 2nd column message body -->
      <div class="col-8">
      </div>
    <!-- 3rd column right panel -->      
      <div class="col-2">
      </div>
    </div>
  </div>
</div>